/* css styles */

.keyword-box {
    display: inline-block;
    border: 2px solid #729cc0;  /* Blue border */
    background-color: #fce5cd;  /* Light blue background */
    color: #171414;  /* Blue text */
    padding: 4px 6px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.purple-link {
    color: #6e40c9; /* GitHub purple */
    font-weight: bold;
    text-decoration: none; /* Optional: Remove underline */
}

.purple-link:hover {
    color: #9b59b6; /* Lighter purple on hover */
}

.gold-link {
    color: #ffcc00; /* Golden yellow */
    font-weight: bold;
    text-decoration: none; /* Optional: Remove underline */
}

.gold-link:hover {
    color: #e6b800; /* Darker golden yellow on hover */
}

/* SIDEBAR: CODING SKILLS */

/* Make the skill bar container 50% width, center it horizontally, and add indentation */
.skill-container {
    width: 50%; /* Set the width to 50% */
    margin: 0 auto; /* Center it horizontally */
    padding-left: 20px; /* Add indentation to the left */
}

/* Style the skill bars */
.skill-bar {
    background-color: #e0e0e0;
    border-radius: 8px;
    width: 100%;
    height: 20px;
    position: relative;
    margin: 8px 0;
    overflow: hidden;
}

.skill-fill {
    height: 100%;
    border-radius: 8px;
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

/* Different Colors for Each Skill */
.markdown { background-color: #231c35; width: 98%; }
.nextflow { background-color: #242039; width: 90%; }
.python { background-color: #2a2b47; width: 50%; }
.quarto { background-color: #484564; width: 70%; }
.r { background-color: #5b5271; width: 95%; }
.shell { background-color: #6e5774; width: 95%; }
