/* css styles */

.keyword-box {
    display: inline-block;
    border: 2px solid #729cc0;  /* Blue border */
    background-color: #fce5cd;  /* Light blue background */
    color: #171414;  /* Blue text */
    padding: 4px 6px;
    border-radius: 8px;
    font-size: 1em;
    font-weight: bold;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
}

.purple-link {
    color: #6e40c9; /* GitHub purple */
    font-weight: bold;
    text-decoration: none; /* Optional: Remove underline */
}

.purple-link:hover {
    color: #9b59b6; /* Lighter purple on hover */
}

.gold-link {
    color: #ffcc00; /* Golden yellow */
    font-weight: bold;
    text-decoration: none; /* Optional: Remove underline */
}

.gold-link:hover {
    color: #e6b800; /* Darker golden yellow on hover */
}

.skill-bar {
    background-color: #e0e0e0;
    border-radius: 8px;
    width: 100%;
    height: 20px;
    position: relative;
    margin: 8px 0;
}

.skill-fill {
    height: 100%;
    border-radius: 8px;
    text-align: right;
    padding-right: 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 20px;
}

/* Different Colors for Each Skill */
.python { background-color: #3776ab; width: 90%; }  /* Python: 90% confidence */
.r { background-color: #276dc2; width: 80%; }       /* R: 80% confidence */
.quarto { background-color: #f1a340; width: 70%; }  /* Quarto: 70% confidence */
.shell { background-color: #4caf50; width: 60%; }   /* Shell: 60% confidence */
